/* 
Styles that are available throughout all webpages
*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --bg-colour: rgb(20, 20, 20);
    --primary-colour: #1c1c1c;
    --secondary-colour: #313131;
    --accent-colour: #5efe00;

    --text-strong-colour: #ffffff;
    --text-middle-colour: #c7c7c7;
    --text-light-colour: #aaaaaa;

    --page-padding-left: 14%;
    --page-padding-right: 14%;

    --border-radius: 6px;

    --spacing-small: 16px;
    --spacing-medium: 28px;

    --sans-font: 'Inter', sans-serif;
    --mono-font: 'Roboto Mono', monospace;
    /* --mono-font: monospace; */

    --gradient-top: var(--primary-colour);
    --gradient-bottom: #082f0c;

    --gradient-bg: linear-gradient(var(--gradient-top), var(--gradient-bottom));

}


header {
    background-color: var(--bg-colour);
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    padding: 16px var(--page-padding-right) 16px var(--page-padding-left); 
}

header nav {
    display: flex;
    gap: var(--spacing-small);
}

header a {
    text-decoration: none;
}

header .top-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .top-logo > img {
    width: 6rem;
}

header .link {
    padding: 8px 12px;
    border-radius: var(--border-radius);
    border: 2px solid var(--secondary-colour);
    background-color: var(--primary-colour);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

header .link:hover {
    border-color: var(--accent-colour);
}

header .link .icon {
    width: 0.75em;
    height: 0.75em;
}

main {
    padding-top: 80px;
    min-height: 90vh;
}

main section:first-of-type {
    padding-top: 0;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.page-padding {
    padding-left: var(--page-padding-left);
    padding-right: var(--page-padding-right);
}

footer {
    background-color: var(--primary-colour);
    border-top: 0.6px solid var(--secondary-colour);
    padding-left: var(--page-padding-left);
    padding-right: var(--page-padding-right);
    padding-top: 45px;
    padding-bottom: 45px;
}


body::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: var(--primary-colour);        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-colour);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}
body::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-colour);
}













#nav-toggle {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 1.6rem;
    height: 1.6rem;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

#nav-toggle > img {
    width: 100%;
    height: 100%;

}

#nav-toggle:not(.nav-open) > #nav-open-image,
#nav-toggle.nav-open > #nav-closed-image {
    display: block;
}

#nav-toggle:not(.nav-open) > #nav-open-image,
#nav-toggle.nav-open > #nav-closed-image {
    display: none;
}




/* Mobile responsive styles */
@media screen and (max-width: 800px) {
    :root {
        --header-height: 10vh;
        --page-padding-left: 7%;
        --page-padding-right: 7%;
        --spacing-small: 12px;
        --spacing-medium: 18px;
    }
    #nav-toggle {
        display: flex;
    }
    header {
        padding: 12px 5%;
        height: var(--header-height);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav {
        padding: 12px 5%;
        z-index: 1000;
        height: calc(100vh - var(--header-height));
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        background-color: var(--bg-colour);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 24px;
        font-size: 1.2rem;
    }
    nav:not(.nav-open) {
        display: none;
    }
    nav.nav-open {
        display: flex;
    }
}